.body-topic {
    display: flex;
    justify-content: space-between;
    color: #16191d;
    border-bottom: 1px solid #d3d5d7;
}

.title-topic {
    display: flex;
    justify-content: flex-start;
    color: #22497c;
    padding: 5px 0 5px 5px;
    align-items: center;
}

.end-topic {
    display: flex;
    justify-content: flex-end;
}

.end-topic-info {
    text-align: center;
    padding-right: 10px;
}

p {
    margin-bottom: 5px;
}
